<!DOCTYPE html>
<html>
<title>CONTACT US</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
{% load static%}
<style>
body {
  background-image: url("{% static "job/back1.jpg" %}");

}
</style>

<form action="/job/form/" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">{% csrf_token %}
<h2 class="w3-center">Contact Us</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" id="name" name="name" type="text" placeholder="Name">
    </div>
</div>



<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" id="email" name="email" type="text" placeholder="Email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="phone" type="text" placeholder="Phone">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" id="desc" name="desc" type="text" placeholder="Message">
    </div>
</div>

<p class="w3-center">
<button class="w3-button w3-section w3-blue w3-ripple"> Send </button>
</p>
</form>
<center><img src='{% static "job/contact-banner.jpg" %}' alt="Error to load image" ></center>
<font color="red"><h1>About Us</h1></font>
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static "job/card.jpg" %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">MANAS DESHPANDE</h5>
        <p class="card-text"> Roll Number 10739</p>
        <p class="card-text">Student,Pune Institue of Computer Technology</p>
        <p class="card-text">More Info-Higher Studies</p>
        <p class="card-text">manasdeshpande4902@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static "job/card.jpg" %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">AKASH KALME</h5>
        <p class="card-text"> Roll Number 10748</p>
        <p class="card-text">Student,Pune Institue of Computer Technology</p>
        <p class="card-text">More Info-Higher Studies</p>
        <p class="card-text">kalmeakash@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static "job/card.jpg" %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">RUSHIKESH KHISTE</h5>
        <p class="card-text"> Roll Number 10736</p>
        <p class="card-text">Student,Pune Institue of Computer Technology</p>
        <p class="card-text">More Info-Enterpreneurship</p>
        <p class="card-text">rushikeshkhiste2002@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static "job/card.jpg" %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">ROHIT DHENGALE</h5>
        <p class="card-text"> Roll Number 10737</p>
        <p class="card-text">Student,Pune Institue of Computer Technology</p>
        <p class="card-text">More Info-Jobs and Internship</p>
        <p class="card-text">rohitdhengale315@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static "job/card.jpg" %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">PRATHAMESH KHOSE</h5>
        <p class="card-text"> Roll Number 10740</p>
        <p class="card-text">Student,Pune Institue of Computer Technology</p>
        <p class="card-text">More Info-Jobs and Internship</p>
        <p class="card-text">khosepratham@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<footer>
        <div class="text-center"><font color="red" size="5">
          <center> copyright &copy; www.MyCareer.com . All rights reserved!</center></font>
        </div>
    </footer>
</body>
</html> 
