<!doctype html>
<html lang="en">
{% load static %}
  <style>
body {
  background-image: url("{% static "job/back4.png" %}");

}
</style>
<font size="4" color="red">
<h1> Internship Opportunities<h1> </html>
<h1>1.Social Media Profiles</h1>
<h2>Many recruiters use social media to research candidates  some may even require a link to your social media profiles. So if you haven't already, you may want to create a professional social media profile, especially on a networking site like LinkedIn.</h2>

<h3>A few best practices to follow as you polish your social media presence:</h3>
<p>1.Choose a professional headshot for your profile picture</p>
<p>2.Add relevant work experience as applicable</p>
<p>3.Keep it appropriate  delete any suggestive references or pictures</p>
<p>4.Share and engage with relevant industry content</p>






<h1>2.Online Portfolio</h1>
<h2>If you are entering a creative field like web development, graphic design or writing, an online portfolio is an excellent way to stand out from the crowd. Platforms like Squarespace and Wix make it easy to put together a polished collection of your most notable projects and work samples.
</h2>
<h3>As you are creating your profile, remember:
</h3>
<p>   
1.Highlight the projects that most closely resemble the type of work you would like to do moving forward
</p>
<p>2.Describe the impact these projects had</p>
<p>3.Feel free to add some color and design, but keep it clean and easy to read</p>
<p>4.Update it frequently</p>
<p> </p>
<p></p>

</font>
</html>