<!DOCTYPE html>
<html lang="en">
{% load static%}
<font size="4" color="red">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB</title>
    <link rel="stylesheet" href="job.css">
    <h1 style="text-align: center;">JOB</h1>
    <style>
    body {
  background-image: url("{% static "job/back4.png" %}");
height:100%;
width:100%;}

        
.box{
    display: inline-block;
    border: 2px solid rgba(250, 249, 249, 0.966);
    width: 480px;
    height: 295px;
    margin: 4px;
}
head{
    text-align:left;
}
body {
    margin:0px;
    padding:0px;
    background-color:white;

}
p1 {
    text-align: center;
    color: rgb(13, 28, 236);
    font-weight: bolder;
    font-size: 30px;
}
h1{
    text-align: center;
    color: rgb(13, 28, 236);
    font-weight: bolder;
    font-style: italic;
    font-size: 35px;
}
p{
    font-size: 17px;;
}
a{
    color:rgb(1, 166, 216);
}
    </style>

</head>
<body>
<div>
    <div class="box" id="box1"><img src="{% static "job/search.jpg" %}"></div>
    <div class="box" id="box2"><img src="{% static "job/r371.jpeg" %}"></div>
    <div class="box" id="box3"><img src="{% static "job/r372.jpeg" %}"></div>

    

    
<li><p>
            <p1>Job after graduation (B.Tech)</p1><br>
            The job opportunities after B.Tech is a good option. You can enter 
    the software industry according to your specialization provided you possess good communication 
    skills. It is better to get job in a company through campus placements as it is difficult to get job after 
    you are out of the college. You can also do job for sometime after completing B.Tech and then start 
    studying for your P.G course. We know it is not an easy task to look for a job which fulfills our 
    requirement but in an age of so much competition it is a troublesome task. If you are economically 
    efficient and don’t need a job, it is better you go for your further studies. A specialization will always 
    earn you more salary as well as priority during interviews and of course sound grip over subject. 
    Otherwise you can find some job.
    
    Campus Placements
    It is one of the most favourite career options after engineering for most of the engineering students. You can choose to get an engineering job through campus placements. Campus placements can help you get a high-paying job even before you get your degree.
    
    Campus placements can be very lucrative. The number of job offers worth more than one crore has increased considerably in the past few years.
    Keep these points in mind when preparing for such jobs:
        <ol type="1"><b>
            <li>Work hard to maintain a good CGPA score</li>
            <li>Prepare for job interviews</li>
            <li>Take part in extracurricular activities</li>
            <li>Study the companies you’re applying for</li></b>
        </ol>
    </p></li>

<li><p>
        <p1>Become an Expert</p1><br>
        <p2>Want to get a high-paying job at the start of your career?</p2><br>

        Then you should take a course or certification in an in-demand skill. Many companies are looking for engineers who are familiar with the latest technologies, such as artificial intelligence and blockchain.
Jobs in these sectors are better-paying. Moreover, you wouldn’t have to worry about getting a job because high-quality courses also provide placement assistance. And the demand for these skills is tremendously high. Companies are in dire need of professionals adept in AI, data science, blockchain, and similar fields. 

There are many varieties in this field too. Every skill has different applications. So you have the option of choosing the one which you want to master.<br>

The following are the most popular skills in the current market:

        <ul style="list-style-type: square;"><b>
        <li>Blockchain</li>
        <li>Artificial Intelligence and Machine Learning</li>
        <li>Digital Marketing</li>
        <li>Data Science</li></b></ul>
        You can take a course in any one of them and kick-start your career. 
 </p></li>

<li><p>
    <p1>Enter the private sector</p1><Br>
    Still, looking for options before deciding what to do after engineering? While campus placements are an excellent source for getting leads for the private sector, it does no harm to indulge in some research of your own. The best way to start is by registering in reputed job portals like LinkedIn and Indeed to look for jobs relevant to your expertise area and that match your job profile interests. 
    
    Since India is a major tech hub in the world today, every year MNCs from all around the globe set up their bases in India. Also, home-grown companies are emerging steadily throughout the major tech and industrial hubs in the country, including NCR, Pune, Gujarat, Bangalore, Chennai, and Hyderabad. Naturally, new job profiles are also emerging, and job vacancies are skyrocketing. This is why the private sector holds tremendous promise for fresh B.Tech graduates. 
    
    However, landing a job in the private sector comes with its unique challenges. The biggest problem is that the supply of engineering graduates is way more than the demand created by private sector companies. This leads to cut-throat competition in the job market. So, what can you do then?
    
    You can create a solid resume that highlights your core strengths, skills, and expertise areas. Another vital thing to remember while designing a resume is that different job profiles have different requirements. Hence, it is crucial to tweak your resume according to a particular job profile.
    
    For instance, if you’re applying for the profile of a Software Engineer, make sure to highlight your mathematical skills, programming skills, and command over various programming languages. If you have any relevant certifications or internships under your sleeve, include them as well. Basically, you need to understand the demands of a job profile and then create your resume around it.  
    </p1></li>

<li><p>
        <p1><b>Join the Indian Armed Forces</b></p1><br>
        The Indian Armed Force has three wings – the Indian Army, the Indian Air Force, and the Indian Navy. The Indian Army is land-based, whereas the Indian Air Force and Indian Navy are in charge of the air and water bodies, respectively. As a B.Tech (Engineering) graduate, you can find employment opportunities in all three wings of the Indian Armed Force, only the criterion for joining each is different. For students who are wondering what to do after engineering, joining forces is a good option.
        
        The Indian Army is always on the lookout for technically sound professionals who can support the troops on the field. Usually, Engineers who join the Indian Army are allotted to any of the three branches – Corps of Engineers, Corps of Electronics and Mechanical Engineers, and Corps of Signals. You can join the Army through TGC (Technical Graduate Course) and SSC Tech entry schemes. 
        Similarly, after completing your B.Tech (Engineering), you can join the technical squad or the ground squad of the Indian Air Force, depending on your qualifications and skillset. Usually, B.Tech graduates can get in through the AFCAT (Air Force Common Admission Test) Entry scheme. 

     </p></li></div>

<h1>Career Opportunities after Engineering – What to do after B.Tech?</h1>

<h2>B.Tech College Placements</h2>
<body>College placements are one of the most popular career options after engineering. They have become an integral part of the offerings of good engineering institutes.

Campus placements take you directly to recruiters without much effort and offer you a chance to get a lucrative job. Don’t forget that it will be easier for you to get a job through campus placements than outside because of less competition.</body>
<p>Candidates who want to take part in B.Tech campus placement need to keep the following points in mind: </p>
<p>1.Keep your resume ready and up-to-date</p>

<p>2.Maintain a good score in their subject and be well-aware of what all you did in your internship and your B.Tech project </p>
<p>3.Participate in extracurricular activities like hackathons,etc. </p>
<p>4.Prepare for group discussions</p>
<p>5.Do proper research and study about the companies you are applying for</p><img src="{% static "job/bac.jpeg" %}">

<h1>A Job at a PSU (Public Sector Undertaking)</h1>

<body>PSUs include the companies that are partially owned by the state or central or both government sectors. Some of the popular PSU companies include BHEL, LIC, Hindustan Copper Limited, and NALCO. </body>
<body>After completing B.Tech, you can enter PSUs and get a lucrative job. You can get a job either on a permanent or contractual, or temporary basis. PSUs recruit employees based on two categories: </body>

<p>1.with a valid GATE score</P>
<p>2.without a GATE score</P>
<body>The PSUs that appoint employees based on the GATE score announce the required GATE score for application every year. </body>

<h1>Some of the PSUs that do not require a GATE score are: </h1>
<p>1.Airport Authority of India </p>
<p>2.Reserve Bank of India (RBI) </p>
<p>3.OPTCL</p>
<p>4.Shipping Corporation of India Limited (SCIL) </p>
<p>5.Delhi Electricity Regulatory Commission </p>
<p>6.Bhabha Atomic Research Centre (BARC) </p>
<p>7.Bureau of Indian Standards </p>
<p>8.Hindustan Newsprint Limited  </p>
<p>9.National Mineral Development Corporation (NMDC) </p>
<p>10.PEC Limited </p>
<p>11.Border Security Force (BSF) </p>
<p>12.Indian Coast Guard   </p>
<p>13.Housing & Urban Development Corporation Limited  </p>
<p>14.Punjab Police Intelligence Recruitment   </p>
<p>15.CRPF Inspector Recruitment   </p>
<p>16.UPPCL   </p>
<h1>A Job in the field of your choice in the Private Sector </h1>
<img src="{% static "job/Career8.jpeg" %}">
<body>The career opportunities after B.Tech are more in technical fields. Apart from the public sector, any engineering graduate can secure a good job in the private sector as well. Besides getting hired as engineers, B.Tech graduates are also recruited as researchers, consultants, subject matter experts, and more. </body>
<body>While campus placements are a great way to get leads for the private sector, you can also start some research of your own. You can register yourself in reputed job portals like Naukri.com for jobs relevant to your expertise area. </body>
<p>Since B.Tech is a broad field, there are many engineering job titles. Below is the extensive list of the most common engineering job titles:</p>
<h1>Job Titles / Career Opportunities after B.Tech </h1>
<p>1.Computer Science Engineer</P><p>2.Mining Engineer</P><p>3.Mechanical Engineer</P><p>4.Ceramic Engineer</P><p>5.Civil Engineer</P><p>6.Production Engineer</P><p>7.Automobile Engineer</P><p>8.Robotics Engineer</P><p>9.Chemical Engineer</P><p>10.Electronics & Communication Engineer</P><p>

11.Electrical Engineer</P><p>12.Lecturer/Professor</P><p>
13.Electronics Engineer</P><p>14.Software Develop</P><p>
15.Aeronautical Engineer</P><p>16.Product Manager</P><p>
17.Marine Engineer</P><p>18.Construction Engineer</P><p>
19.Aerospace Engineer</P><p>20.Telecommunication Engineer</p>
<body>Some popular career opportunities that aspirants can pursue after completing their B.Tech course in a specific specialization are listed below:</body>
<h1>Job Titles / Career Opportunities after B.Tech in Computer Science & Engineering</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>
<table>
<tr>
    <td>Computer Programmer</td>
    <tdEngineering Support Specialist</td>
<td>R&D Applications Engineer</td>
  </tr>
<tr>
    <td>Academic Researcher</td>
    <td>Voice Engineer</td>
<td>Software Engineer</td>
  </tr>
</table>
<h1>Job Titles / Career Opportunities after B.Tech in Information Technology</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>
<table>
<tr>
    <td>Information Technology Officer</td>
    <td>Database Manager</td>
<td>Web Developer</td>
<td>Web Designer</td>
  </tr>
<tr>
    <td>Data Security Officer</td>
    <td>Software Developer</td>
<td>Information Technology Engineer</td>
<td>Testing Engineer</td>
  </tr>
<tr>
    <td>IT Coordinator</td>
    <td>System Analyst</td>
<td>Applications Developer</td>
<td>IT Technical Content Developer</td>
  </tr>
</table>

<h1>Job Titles / Career Opportunities after B.Tech in Industrial Engineering</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>
<table>
<tr>
    <td>Process Engineer</td>
    <td>Quality Engineer</td>
<td>Industrial Manager</td>
<td>Operations Analyst</td>
  </tr>
<tr>
    <td>Management Engineer</td>
    <td>Plant Engineer</td>
<td>Manufacturing Engineer</td>
<td>Quality Engineer</td>
  </tr>
<tr>
    <td>Project Engineer</td>
    <td>Operations Manager</td>
<td>Facilities Engineer</td>
<td>Industrial Engineering Technician</td>
  </tr>
</table>
<h1>Job Titles / Career Opportunities after B.Tech in Software Engineering</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Software Engineer</td>
    <td>Software Testing Engineer</td>

  </tr>
<tr>
    <td>Software Quality Engineer</td>
    <td>Multimedia Display Software Engineer</td>

  </tr>


</table>
<h1>Job Titles / Career Opportunities after B.Tech in Mechanical Engineering</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Process Development Technologist</td>
    <td>Design Engineer</td>

  </tr>
<tr>
    <td>Researcher </td>
    <td>Analyst Tester</td>

  </tr>


</table>
<h1>Job Titles / Career Opportunities after B.Tech in Electronics and Communication Engineering</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Electronics Technician</td>
    <td>Field Technician</td>

  </tr>
<tr>
    <td>Test Technician </td>
    <td>Firstline Technician Battery Test Technician</td>

  </tr>


</table>
<h1>Job Titles / Career Opportunities after B.Tech in Computer Science</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Computer Engineer</td>
    <td>Computer Network Engineer</td>

  </tr>
<tr>
    <td>Researcher </td>
    <td>Software Engineer</td>

  </tr>


</table>
<h1>Job Titles / Career Opportunities after B.Tech in Aerospace Engineering</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Aerospace Engineer</td>
    <td>Aerospace Designer Checker</td>
<td>Design Engineer</td>
<td>Manufacturing Engineer</td>
  </tr>
<tr>
    <td>Aircraft Production Manager </td>
    <td>Mechanical Design Engineer</td>
<td>Assistant Technical Officer</td>
<td>Development Engineer</td>
  </tr>


</table>
<h1>Job Titles / Career Opportunities after B.Tech in Electronics Engineering </h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Electronic Engineer</td>
    <td>Electrical Manager</td>
<td> Professor</td>
<td>Maintenance Engineer</td>
  </tr>
<tr>
    <td>Power Electronics Engineer </td>
    <td>Test Engineer</td>
<td>Design Release Engineer</td>
<td>Exhibits Electronics Engineer</td>
  </tr>
<tr>
    <td>Product Engineer </td>
    <td>Network Specialist</td>
<td>Electronic Support Engineer</td>
<td>Systems Developer</td>
  </tr>

</table>
<h1>Job Titles / Career Opportunities after B.Tech in Architecture Engineering </h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>Construction Estimator</td>
    <td>Drafter</td>
<td> Building Inspector</td>
<td>Technical Architect</td>
  </tr>
<tr>
    <td>Consultant </td>
    <td>Consulting Engineer</td>
<td>Professor</td>
<td>Construction Project Manager</td>
  </tr>

</table>
<h1>Top Recruiters for B.Tech Graduates </h1>
<p>Here is the list of some of the top companies that recruit B.Tech graduates:</p>
<img src="{% static "job/sar.jpg" %}">


<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <td>HCL Technologies</td>
    <td>Samsung</td>
<td> TATA Consultancy</td>
<td>Flipkart</td>
  </tr>
<tr>
    <td>Google</td>
    <td>ICICI</td>
<td>EXL</td>
<td>Procter & Gamble</td>
  </tr>
<tr>
    <td>Apple</td>
    <td>JP Morgan</td>
<td>Mckinsey Knowledge Centre </td>
<td>ISRO</td>
  </tr>
<tr>
    <td>Siemens</td>
    <td>ITC Limited</td>
<td>	Mahindra & Mahindra Ltd </td>
<td>Qualcomm</td>
  </tr>
<tr>
    <td>HSBC</td>
    <td>Myntra</td>
<td> Deutsche Bank</td>
<td>Goldman Sachs</td>
  </tr>
<tr>
    <td>Honeywell</td>
    <td>Infosys Technologies</td>
<td>Accenture Services</td>
<td>Hindustan Unilever Ltd</td>
  </tr>
<tr>
    <td>Larsen and Toubro</td>
    <td>Microsoft</td>
<td>Amazon</td>
<td>Persistent</td>
  </tr>
  
</table>
<body>We hope that this article will clear all your doubts and answer all your questions regarding what to do after B.Tech. While this post lists a lot of career options, make sure that you invest time and thought before making your decisions.</body>
</body>
</body></font>
</html>