<!doctype html>
<html>
<title>How to get job after b.tech?    </title>
<h1>Career Opportunities after Engineering – What to do after B.Tech?</h1.

<h2>B.Tech College Placements</h2>
<body>College placements are one of the most popular career options after engineering. They have become an integral part of the offerings of good engineering institutes.

Campus placements take you directly to recruiters without much effort and offer you a chance to get a lucrative job. Don’t forget that it will be easier for you to get a job through campus placements than outside because of less competition.</body>
<p>Candidates who want to take part in B.Tech campus placement need to keep the following points in mind: </p>
<p>1.Keep your resume ready and up-to-date</p>

<p>2.Maintain a good score in their subject and be well-aware of what all you did in your internship and your B.Tech project </p>
<p>3.Participate in extracurricular activities like hackathons,etc. </p>
<p>4.Prepare for group discussions</p>
<p>5.Do proper research and study about the companies you are applying for</p><img src="bac.jpeg">

<h1>A Job at a PSU (Public Sector Undertaking)</h1>

<body>PSUs include the companies that are partially owned by the state or central or both government sectors. Some of the popular PSU companies include BHEL, LIC, Hindustan Copper Limited, and NALCO. </body>
<body>After completing B.Tech, you can enter PSUs and get a lucrative job. You can get a job either on a permanent or contractual, or temporary basis. PSUs recruit employees based on two categories: </body>

<p>1.with a valid GATE score</P>
<p>2.without a GATE score</P>
<body>The PSUs that appoint employees based on the GATE score announce the required GATE score for application every year. </body>

<h1>Some of the PSUs that do not require a GATE score are: </h1>
<p>1.Airport Authority of India </p>
<p>2.Reserve Bank of India (RBI) </p>
<p>3.OPTCL</p>
<p>4.Shipping Corporation of India Limited (SCIL) </p>
<p>5.Delhi Electricity Regulatory Commission </p>
<p>6.Bhabha Atomic Research Centre (BARC) </p>
<p>7.Bureau of Indian Standards </p>
<p>8.Hindustan Newsprint Limited  </p>
<p>9.National Mineral Development Corporation (NMDC) </p>
<p>10.PEC Limited </p>
<p>11.Border Security Force (BSF) </p>
<p>12.Indian Coast Guard   </p>
<p>13.Housing & Urban Development Corporation Limited  </p>
<p>14.Punjab Police Intelligence Recruitment   </p>
<p>15.CRPF Inspector Recruitment   </p>
<p>16.UPPCL   </p>
<h1>A Job in the field of your choice in the Private Sector </h1>
<img src="Career-3D-generator_108482452.jpeg">
<body>The career opportunities after B.Tech are more in technical fields. Apart from the public sector, any engineering graduate can secure a good job in the private sector as well. Besides getting hired as engineers, B.Tech graduates are also recruited as researchers, consultants, subject matter experts, and more. </body>
<body>While campus placements are a great way to get leads for the private sector, you can also start some research of your own. You can register yourself in reputed job portals like Naukri.com for jobs relevant to your expertise area. </body>
<p>Since B.Tech is a broad field, there are many engineering job titles. Below is the extensive list of the most common engineering job titles:</p>
<h1>Job Titles / Career Opportunities after B.Tech </h1>
<p>1.Computer Science Engineer</P><p>2.Mining Engineer</P><p>3.Mechanical Engineer</P><p>4.Ceramic Engineer</P><p>5.Civil Engineer</P><p>6.Production Engineer</P><p>7.Automobile Engineer</P><p>8.Robotics Engineer</P><p>9.Chemical Engineer</P><p>10.Electronics & Communication Engineer</P><p>

11.Electrical Engineer</P><p>12.Lecturer/Professor</P><p>
13.Electronics Engineer</P><p>14.Software Develop</P><p>
15.Aeronautical Engineer</P><p>16.Product Manager</P><p>
17.Marine Engineer</P><p>18.Construction Engineer</P><p>
19.Aerospace Engineer</P><p>20.Telecommunication Engineer</p>
<body>Some popular career opportunities that aspirants can pursue after completing their B.Tech course in a specific specialization are listed below:</body>
<h1>Job Titles / Career Opportunities after B.Tech in Computer Science & Engineering</h1>
<p>Professor</p><p>	Computer Programmer</p><p>
Engineering Support Specialist</p><p>	R&D Applications Engineer</p><p>
Academic Researcher</p><p>	Voice Engineer</p><p>
Software Engineer	 </p>
<h1>Job Titles / Career Opportunities after B.Tech in Information Technology</h1>
<p>Information Technology Officer</p><p>	Lecturer</p><p>
Database Manager</p><p>	Web Developer</p><p>
Web Designer</p><p>	Data Security Officer</p><p>
Software Developer</p><p>	Information Technology Engineer</p><p>
Testing Engineer</p><p>	IT Coordinator</p><p>
System Analyst</p><p>	Applications Developer</p><p>
IT Technical Content Developer	 </p>
<img src="GettyImages-752178721-480x320-1.jpeg">
<h1>Job Titles / Career Opportunities after B.Tech in Industrial Engineering</h1>
<p>Ergonomist</p><p>	Process Engineer</p><p>
Quality Engineer</p><p>	Industrial Manager</p><p>
Operations Analyst</p><p>	Management Engineer</p><p>
Plant Engineer</p><p>	Manufacturing Engineer</p><p>
Quality Control Technician</p><p>	Project Engineer</p><p>
Operations Manager</p><p>	Facilities Engineer</p><p>
Industrial Engineering Technician	 </p>
<h1>Job Titles / Career Opportunities after B.Tech in Software Engineering</h1>
<p>Software Engineer</p><p>	Software Testing Engineer</p><p>
Software Quality Engineer</p><p>	Multimedia Display Software Engineer</p>
<h1>Job Titles / Career Opportunities after B.Tech in Mechanical Engineering</h1>
<p>Mechanical Engineer	</p><p>Process Development Technologist</p><p>
Design Engineer</p><p>	Researcher</p><p>
Analyst	Tester</p>
<h1>Job Titles / Career Opportunities after B.Tech in Electronics and Communication Engineering</h1>
<p>Electronics Technician</p><p>	Field Technician</p><p>
Test Technician</p><p>	Firstline Technician
Battery Test Technician	</p>
<h1>Job Titles / Career Opportunities after B.Tech in Computer Science</h1>
<p>Computer Engineer</p><p>	Computer Network Engineer</p><p>
Researcher	</p><p>Software Engineer</p>
<h1>Job Titles / Career Opportunities after B.Tech in Aerospace Engineering</h1>
<p>Aerospace Engineer	</p><p>Aerospace Designer Checker</p><p>
Design Engineer</p><p>	Manufacturing Engineer</p><p>
Aircraft Production Manager</p><p>	Mechanical Design Engineer</p><p>
Assistant Technical Officer</p><p>	Development Engineer</p>
<h1>Job Titles / Career Opportunities after B.Tech in Electronics Engineering </h1>
<p>Electronics Engineer</p><p>	Electrical Manager</p><p>
Professor</p><p>	Maintenance Engineer</p><p>
Power Electronics Engineer</p><p>	Test Engineer</p><p>
Design Release Engineer	</p><p>Exhibits Electronics Engineer</p><p>
Product Engineer</p><p>	Network Specialist</p><p>
Electronic Support Engineer</p><p>	Systems Developer  </p>
<h1>Job Titles / Career Opportunities after B.Tech in Architecture Engineering </h1>
<p>Construction Estimator	</p><p>Drafter</p><p>
Building Inspector</p><p>	Technical Architect</p><p>
Consultant	</p><p>Consulting Engineer</p><p>
Professor</p><p>	Construction Project Manager </p>
<h1>Top Recruiters for B.Tech Graduates </h1>
<p>Here is the list of some of the top companies that recruit B.Tech graduates:</p>
<img src="sar.jpg">
<p>HCL Technologies</p><p>	Samsung</p><p>
TATA Consultancy</p><p>	Bain & Company</p><p>
Infosys Technologies</p><p>	Larson & Toubro</p><p>
Accenture Services</p><p>	Honeywell</p><p>
IBM Global Services</p><p>	InfoEdge India Ltd</p><p>
Microsoft</p><p>	Hindustan Unilever Ltd</p><p>
Rubrik and Uber	Intel</p><p>
Goldman Sachs</p><p>	AT Kearney</p><p>
Morgan Stanley</p><p>	Myntra</p><p>
Qualcomm</p><p>	Mahindra & Mahindra Ltd</p><p>
Deutsche Bank</p><p>	HSBC</p><p>
Amazon</p><p>	ITC Limited</p><p>
Mckinsey Knowledge Centre</p><p>	JP Morgan</p><p>
ISRO	</p><p>Siemens</p><p>
Apple</p><p>	EXL</p><p>
Procter & Gamble</p><p>	ICICI</p><p>
Google	</p><p>Flipkart</p>
<body>We hope that this article will clear all your doubts and answer all your questions regarding what to do after B.Tech. While this post lists a lot of career options, make sure that you invest time and thought before making your decisions.</body>



</html>