<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
      <div class="col-sm-4" style="background-color:yellow;">
         <img src="1.jpg" alt="Error to load image">
            <h3 class="h-secondary text-center">Entrepreneurship</h3>
        <p>An entrepreneur is an individual who creates a new business, bearing most of the risks and enjoying
                most of the rewards. The process of setting up a business is known as entrepreneurship. The
                entrepreneur is commonly seen as an innovator, a source of new ideas, goods, services, and
                business/or procedures</p></div>
      <div class="col-sm-4" style="background-color:orange;">
         <img src="2.png" alt="Error to load image">
            <h3 class="h-secondary text-center">Higher Studies</h3>
        <p>Engineering (B.E., or B.Tech.,) is among the most popular graduation courses that students take after
                completing their school. Choosing the right career can be confusing for many students. The world is
                full of opportunities. And you might not be aware of most of them. One has to know the list of all
                career options after engineering to select the right one.</p></div>
      <div class="col-sm-4" style="background-color:yellow;"> <img src="3.jpg" alt="Error to load image">
        <h3 class="h-secondary text-center">Jobs</h3>
        <p>Most of the students after engineering are desperately looking for a job. Some of them are as follows

                1) Public Service Undertakings
                2) Management
                3) Campus Placements
                4) Become an Expert
                5) Civil Services
                6) Look for internships
                7) Enter the private sector</p></div>
    </div>
    <br>

    
    
    
    
