<html>
{% load static%}

<head><style>
body {
  background-image: url("{% static "job/back4.png" %}");

}
</style></head>
<font color="red" size="4">
<h1>CAT Exam </h1>
<p>
CAT exam or the Common Admission Test is a computer-based MBA entrance test for admissions into the IIMs
and several other prestigious B-Schools in the country. CAT exam is conducted every year by the IIMs on a rotational basis 
</p>
<p>
CAT exam is a highly competitive exam and almost a quarter of a million students appear for it every year. Only a handful of the total applicants make it their preferred institute. For the CAT exam, it is important to note certain details before registration. The important exam details that should be checked are:
<ol>
<li>What is CAT Exam?
<li>CAT Exam Date
<li>CAT Exam Eligibility
<li>CAT Exam Pattern
<li>CAT Syllabus
<li>CAT Registration
<li>Eligibility Verification
<li>Admission Process</ol>
All these details about the CAT are explained below. Before going through the CAT exam details, it is important to note what the CAT exam actually is and why is it important.

</p>
<h1>What is CAT Exam?</h1>
<p>
CAT Exam (Common Admission Test) is a computer-based selection test conducted by the Indian Institutes of Management (IIMs) as a prerequisite for admissions to their business administration programs. Apart from the IIMs, the CAT is also a prerequisite for admissions into numerous other prestigious management colleges across India, which include institutes like S.P Jain Institute of Management and Research (SPJIMR), Faculty of Management Studies (FMS), Management Development Institute (Gurgaon), Institute of Management Technology (IMT), Jamnalal Bajaj Institute of Management Studies (JBIMS), International Management Institute (IMI), National Institute of Industrial Engineering (NITIE) and several others.
</p>
<h1>CAT Exam Dates & Events</h1>

<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>
<tr>
    <th>CAT  Event Description</th>
    <th> Event Date (Tentative) </th>
  </tr>
  <tr>
    <td>CAT Exam Online Registration</td>
    <td> Start Date	August </td>
  </tr>
  <tr>
    <td>
CAT Exam Online Registration</td>
    <td> Close Date	September </td>
  </tr>
  <tr>
    <td>
CAT Admit Card Release Date</td>
    <td>October </td>
  </tr>
<tr>
    <td>
CAT exam Date</td>
    <td>November </td>
  </tr>
<tr>
    <td>
CAT Exam Result Declaration</td>
    <td>2nd Week of January </td>
  </tr>
</table>
<h1>CAT Exam Eligibility</h1>
<p>To be able to get eligible for CAT, candidates need to fulfil the following criterion:
•	Should Hold a Bachelor’s Degree and have secured a minimum of 50% marks or equivalent CGPA. The students belonging to any of the reserved categories like Scheduled Tribe (ST), Scheduled Caste (SC), and Persons with Disability (PWD) or Differently Abled (DA) category must have at least 45% marks.
•	The degree has to be awarded by any of the Universities included by an act of the central or a state legislature in India, or any other educational institutions established by an act of Parliament or are declared to be deemed as a University under Section 3 of the UGC Act, 1956, or hold an equivalent qualification recognized by the MHRD, India.
•	Applicants who are appearing for the final year of their bachelor’s degree and the candidates who have completed their graduation degree requirements and are awaiting results are also eligible to apply. If selected, candidates will be allowed to join the program provisionally, only if he/ she submits a certificate from the Principal/Registrar of her/his College/Institute (issued on or before June 30, 2021) mentioning that the particular candidate has completed all the requirements for obtaining the bachelor’s degree/equivalent qualification on the date when the certificate was issued.
The detailed CAT eligibility can be checked from this article and candidates are suggested to check it thoroughly before applying. IIMs may verify eligibility at various stages of the selection process, the details of which are provided on the official IIM website.
</p>
<h1>CAT Exam Pattern</h1>
<style>
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<table>

  <tr>
    <td>Total Questions in CAT Exam</td>
    <td>100 </td>
  </tr>
  <tr>
    <td>
Total Marks</td>
    <td> 300 </td>
  </tr>
  <tr>
    <td>
Total Sections</td>
    <td>3</td>
  </tr>
<tr>
    <td>
Total Duration</td>
    <td>180 Minutes </td>
  </tr>
<tr>
    <td>
Negative Marking</td>
    <td>-1 for Each Incorrect Attempt </td>
  </tr>
<tr>
    <td>
Sectional Details</td>
    <td>Quantitative Aptitude, Verbal Ability & Reading Comprehension, and Logical Reasoning & Data Interpretation.</td>
  </tr>
</table>

<h1>CAT Exam Syllabus</h1>
<p>For the CAT exam, there is no predefined syllabus. The syllabus is mainly from the middle school topics of Maths, and English with some generic logical reasoning questions. A few of the details of CAT syllabus are:
<ol><li>CAT Quantitative Aptitude: The syllabus for CAT quantitative aptitude mainly includes topics from class 8-10 like geometry, algebra, number system, etc.
<li>CAT Logical Reasoning & Data Interpretation: The logical reasoning section is very generic and a wide variety of questions based on seating arrangement, direction sense test, etc. are included. The data interpretation section includes questions mostly based on data caselets and graphs.
<li>CAT Verbal Ability & Reading Comprehension: In this section, comprehension passages are given followed by a few questions. Apart from that, few of the grammar-based questions like sentence completion, jumbled sentences, etc. are asked.
</ol>To know the detailed syllabus for all these sections, visit CAT syllabus where the section-wise important topics are also given along with PDF.
</p>
<h1>CAT Exam Registration</h1>
<p>CAT exam registration is only available online. The application form is released by the conducting IIM on the official CAT website and applicants are required to fill out the details. The CAT 2021 registration is expected to start from August 1st week and will continue till September last week. A correction window will also be available later. It is important for the candidates to be careful while filling in the details as any discrepancies later may result in the cancellation of the complete application. The complete details about the registration process are available in the linked article.</p>
<h1>Admission Process</h1>
<p>It should be noted that individual IIM shortlists candidates for their second stage of selection independently. The selection process includes a Written Ability Test (WAT) and a Personal Interview (PI). The performance of individuals in CAT  exam will be an important component in the overall selection process. IIMs also consider previous academic records of the candidates, relevant work experience and other similar inputs while shortlisting and ranking the candidates at various stages during the admission process. The processes, academic cut-offs and the weights allocated to the evaluation parameters may vary across IIMs. For more information, one may refer to the admissions policies on respective IIM’s website. As the CAT exam is a very competitive exam, it is important that candidates should be well prepared for it. </p>
<h1></h1>


</font>
</html>