<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UPSC</title>
    <style>
        html{
        background-image: linear-gradient(-45deg, #f08a95, #aaebd5);
        }
        *{
            margin-left: 30px;
            margin-right: 30px;
        }
        body{
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 60px;
            margin-right: 60px;
            background-image: linear-gradient(45deg, #aaebd5, #f08a95);
            border: 5px solid;
            border-radius: 40px;
            box-sizing: border-box;
            border-color: #0f55aa;
            box-shadow: 5px 5px 5px 5px #cf75cf;
        }
        h1{
            font-size: 5rem;
            font-family: 'Times New Roman', Times, serif;
            color: #006b3d;
            text-align: center;
        }
        h2{
            color: #023e8a;
            font-size: 3rem;
            font-family: 'Otomanopee One', sans-serif;
        }
        h3{
            font-size: 2rem;
            color: red;
        }
        h4{
            font-size: 1.3rem;
            font-family: 'Roboto', sans-serif;
        }
        .navbar{
            font-size: 1.5rem;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: larger;
        }
        table, th, td{
            border: 2px solid black;
            border-collapse: collapse;
            font-size: 1.1rem;
            padding: 10px;
            empty-cells: hide;
        }
        #eli1{
            text-align: center;
            width: 80%;
            margin: auto;
            margin-bottom: 10px;
            table-layout: fixed;
        }
        #tableh1{
            font-size: 1.5rem;
            color: white;
            background-color: #1a1b1f;
        }
        #eli2{
            text-align: center;
            width: 80%;
            margin: auto;
            margin-bottom: 10px;
            table-layout: fixed;
        }
        .tinfo{
            color: #1545a5;
            font-weight: bold;
        }
        .tshead{
            font-size: 1.3rem;
            color: white;
            background-color: #424046;
            font-weight: bolder;
        }
        #prelim{
            text-align: center;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            table-layout: fixed;
        }
        #main{
            text-align: center;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            table-layout: fixed;
        }
        #interview{
            text-align: center;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
        }
        #total{
            text-align: center;
            font-weight: bolder;
            color: white;
            font-size: 1.5rem;
            background-color: red;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            table-layout: fixed;
        }
        #sypdf{
            font-size: 1.5rem;
        }
        .OpSubjects{
            text-align: center;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            table-layout: fixed;
            font-weight: bold;
            border: 3px solid;
        }
        a:hover{
            text-decoration: none;
            color: red;
        }
        a:visited{
            color: indigo;
        }
        h4{
            font-size: 1.8rem;
            font-family: initial;
            font-weight: bolder;
        }
        h5{
            font-size: 1.4rem;
        }
        li{
            font-size: large;
            font-family: 'Roboto', sans-serif;
        }
        #last{
            text-align: right;
            font-size: larger;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1 id="top">UPSC</h1>
    </div>
    <div>
        <h2>About UPSC</h2>
        <p class="About"> 
            The Union Public Service Commission (ISO: Saṅgh Lōk Sēvā Āyōg), commonly abbreviated as UPSC,
            is India's premier central recruiting agency for central government public servants. It is responsible 
            for appointments to and examinations for Group A & Group B posts under civil services cadre and defence 
            services cadre of central government. While Department of Personnel and Training is the central personnel 
            agency in India.
            The Civil Services Examination (CSE) is a nationwide competitive examination in India conducted by the Union
            Public Service Commission for recruitment to higher Civil Services of the Government of India, including the 
            Indian Administrative Service, Indian Foreign Service, and Indian Police Service.
        </p>
    </div>
    <div>
        <ul class="navbar">
            <li><a href=#eligibility>Eligibility</a></li>
            <li><a href=#exampattern>Exam Pattern</a></li>
            <li><a href=#syllabus>Syllabus</a></li>
            <li><a href=#booksandresources>Books and Resources</a></li>
            <li><a href=#preparationtips>Preparation Tips</a></li>
        </ul>
    </div>
    <div>
        <h2 id="eligibility">Eligibility</h2>
        <h3>Nationality:</h3>
        <p>
            <h4>For the Indian Administrative Service, the Indian Police Service and Indian Foreign Service:</h4>
            <p>The candidate must be a citizen of India.</p>
            <h4>For other services, the candidate must be one of the following:</h4>
            <p>
                <ul>
                    <li> A citizen of India.</li>
                    <li> A citizen of Nepal or a subject of Bhutan</li>
                    <li> A Tibetan refugee who settled permanently in India before 1 January 1962.</li>
                    <li> A person of Indian origin who has migrated from Pakistan, Myanmar, Sri Lanka, Kenya, Uganda, Tanzania, 
                    Zambia, Malawi, Zaire, Ethiopia or Vietnam with the intention of permanently settling in India</li>
                </ul>
            </p>
        </p>
        <h3>Educational Qualifications:</h3>
        <p>All candidates must have as a minimum one of the following educational qualifications:
            <ul>
                <li>A degree from a Central, State or a Deemed university.</li>
                <li>A degree received through correspondence or distance education</li>
                <li>A degree from an open university</li>
                <li>A qualification recognized by the Government of India as being equivalent to one of the above</li>
            </ul>
            </p>
        <h3>Some more important Eligibility criterias:</h3>
            <table id="eli1">
                    <th colspan="2" id="tableh1">Eligibility for UPSC</th>
                    <tr>
                        <td>Age Limit</td>
                        <td class="tinfo">21 to 32 Years (Open Category)*</td>
                    </tr>
                    <tr>
                        <td>Number of Attempts</td>
                        <td class="tinfo">6 (Open Category)*</td>
                    </tr>
            </table>
            <table id="eli2">
                <th colspan="3" id="tableh1">Category wise Limitations</th>
                    <tr>
                        <td class="tshead">Category</td>
                        <td class="tshead">Upper Age Limit for UPSC</td>
                        <td class="tshead">Maximum Number of Attempts</td>
                    </tr>
                </th>
                <tr>
                    <td>General</td>
                    <td class="tinfo">32</td>
                    <td class="tinfo">6</td>
                </tr>
                <tr>
                    <td>Economically Weaker Section (EWS)</td>
                    <td class="tinfo">32</td>
                    <td class="tinfo">6</td>
                </tr>
                <tr>
                    <td>OBC</td>
                    <td class="tinfo">35</td>
                    <td class="tinfo">9</td>
                </tr>
                <tr>
                    <td>SC/ST</td>
                    <td class="tinfo">37</td>
                    <td class="tinfo">Unlimited (Up to age limit)</td>
                </tr>
                <tr>
                    <td>Defence Services Personnel</td>
                    <td class="tinfo">35</td>
                    <td class="tinfo">9</td>
                </tr>
                <tr>
                    <td>Persons with Benchmark Disability</td>
                    <td class="tinfo">35</td>
                    <td class="tinfo">9</td>
                </tr>
            </table>
    </div>
    <div>
        <h2 id="exampattern">Exam Pattern</h2>
        <p>The pattern of UPSC examination is officially divided into two stages called Preliminary and Main Examination while in 
            practice, it is a three-stage exam.
        <p>As per the IAS exam pattern, candidates who clear the Prelims are eligible for Mains and candidates who clear 
            the Main reach the interview stage.</p>
        <p>The three stages of the IAS exam are Prelims, Mains and Personality Test.</p>
        </p>
        <h3>UPSC Exam Papers</h3>
        <table id="prelim">
            <th colspan="3" id="tableh1">Preliminary</th>
            <tr>
                <td class="tshead">Paper</td>
                <td class="tshead">Subject</td>
                <td class="tshead">Total Marks</td>
            </tr>
            <tr>
                <td>Paper A</td>
                <td>One of the Indian Language to be selected by the candidate 
                    from the Languages included in the Eighth 
                    Schedule to the Constitution</td>
                <td>300 Marks</td>
            </tr>
            <tr>
                <td>Paper B</td>
                <td>English</td>
                <td>300 Marks</td>
            </tr>
        </table>
        <table id="main">
            <th colspan="3" id="tableh1">Mains: Papers to be counted for Merit</th>
            <tr>
                <td>Paper-I</td>
                <td>Essay</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-II</td>
                <td>General Studies I (Indian heritage and culture, history and geography of the world and society)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-III</td>
                <td>General Studies II (Governance, constitution, polity, social justice and international relations)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-IV</td>
                <td>General Studies III (Technology, economic development, bio-diversity, environment, security and disaster 
                management)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-V</td>
                <td>General Studies IV (ethics, integrity and aptitude)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-VI</td>
                <td>Optional Subject-Paper 1</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-VII</td>
                <td>Optional Subject-Paper 2</td>
                <td>250 Marks</td>
            </tr>
        </table>
        <table id="interview">
            <th colspan="2" id="tableh1">Personality Test</th>
            <tr>
                <td>Interview</td>
                <td style="width: 33.33%;">275 Marks</td>
            </tr>
        </table>
        <table id="total">
            <tr>
                <td>Grand Total</td>
                <td style="width: 33.33%;">1750 Marks</td>
            </tr>
        </table>
    </div>
    <div>
        <h2 id="syllabus">Syllabus</h2>
            <a href="..." id="sypdf">UPSC-CSE Detailed Syllabus</a>
        <h3>Optional Subjects:</h3>
        <table class="OpSubjects">
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/upsc-agriculture-optional-syllabus/">Agricultural</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-animal-husbandry-veterinary-science-optional-syllabus/">Animal Husbandry & Veterinary Science</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-anthropology-optional-syllabus/">Anthropology</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-botany-optional-syllabus/">Botany</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/upsc-chemistry-optional-syllabus/">Chemistry</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-civil-engineering-optional-syllabus/">Civil Engineering</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-commerce-accountancy-optional-syllabus/">Commerce & Accountancy</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-economics-optional-syllabus/">Economics</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/upsc-electrical-engineering-optional-syllabus/">Electrical Engineering</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-geography-syllabus/">Geography</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-geology-syllabus/">Geology</a></td>
                <td><a href="https://byjus.com/free-ias-prep/history-syllabus-for-upsc-general-studies/">History</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/ias-law-syllabus/">Law</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-management-syllabus/">Management</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-mathematics-syllabus/">Mathematics</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-mechanical-engineering-syllabus/">Mechanical Engineering</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/ias-medical-science-syllabus/">Medical Science</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-philosophy-syllabus/">Philosophy</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-physics-syllabus/">Physics</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-political-science-and-international-relations-syllabus/">Political Science & International Relations</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/ias-psychology-syllabus/">Psychology</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-public-administration-syllabus/">Public Administration</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-sociology-syllabus/">Sociology</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-statistics-syllabus/">Statistics</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/ias-zoology-syllabus/">Zoology</a></td>
                <td><a href="https://byjus.com/free-ias-prep/assamese-syllabus/">Assamese (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/bengali-syllabus/">Bengali (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/bodo-literature-syllabus/">Bodo (Literature)</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/dogri-literature-syllabus/">Dogri (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/gujarati-literature-syllabus/">Gujarati (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-hindi-syllabus/">Hindi (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/kannada-literature-syllabus/">Kannada (Literature)</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/kashmiri-literature-syllabus/">Kashmiri (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/konkani-literature-syllabus/">Konkani (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/maithili-literature-syllabus/">Maithili (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/malayalam-literature-syllabus/">Malayalam (Literature)</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/manipuri-literature-syllabus/">Manipuri (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/marathi-literature-syllabus/">Marathi (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/nepali-literature-syllabus/">Nepali (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/upsc-odia-literature-syllabus/">Odia (Literature)</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/punjabi-literature-syllabus/">Punjabi (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/sanskrit-literature-syllabus/">Sanskrit (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/ias-santhali-literature-syllabus/">Santhali (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/sindhi-literature-syllabus/">Sindhi (Literature)</a></td>
            </tr>
            <tr>
                <td><a href="https://byjus.com/free-ias-prep/tamil-literature-syllabus/">Tamil (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/telugu-literature-syllabus/">Telugu (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/english-literature-syllabus/">English (Literature)</a></td>
                <td><a href="https://byjus.com/free-ias-prep/urdu-literature-syllabus/">Urdu (Literature)</a></td>
            </tr>
        </table>
    </div>
    <div>
        <h2 id="booksandresources">Books and Resources</h2>
        <h3>General Studies Booklist</h3>
        <h4>History</h4>
        <h5>Basic Books</h5>
        <ol>
            <li>NIOS course books for classes XI and XII on</li>
            <ol>
                <li>Ancient India</li>
                <li>Medieval India</li>
                <li>Modern India</li>
                <li>National Movement & Contemporary World</li>
                <li>Culture of India</li>
            </ol>
        </ol>
        <h5>Advanced Level Books</h5>
            <ol>
                <li>Indian History</li>
                <ol>
                    <li>India’s Ancient Past by R.S. Sharma published by Oxford University Press</li>
                    <li>A History of Ancient & Early Medieval India by Upinder Singh</li>
                    <li>History of Medieval India (800–1700 AD) by Satish Chandra published by Orient Longman</li>
                    <li>History of Modern India by Bipin Chandra (2009 Edition)</li>
                    <li>India's Struggle for Independence by Bipin Chandra & Others</li>
                    <li>India After Independence (1947 - 2000) by Bipin Chandra & Others </li>
                    <li>From Plassey To Partition And After by Sekhar Bandopadhyaya</li>
                </ol>
            </ol>
            <ol>
                <li>World History</li>
                <ol>
                    <li>The Story of Civilization, Part 2 by Arjun Dev, NCERT</li>
                    <li>Contemporary World History for class XII (Old NCERT Book)</li>
                    <li>Mastering Modern World History by Norman Lowe</li>
                </ol>
            </ol>
        <h4>Geography</h4>
            <ol>
                <li>Certificate Physical & Human Geography (Oxford) by Goh Cheng Leong</li>
                <li>NCERTs (New Editions)</li>
                <ul>
                    <li>XI Standard: (1) India - Physical Environment (2) Fundamentals of Physical Geography</li>
                    <li>XII Standard: (1) India - People & Economy (2) Fundamentals of Human Geography</li>
                </ul>
                <li>School Atlas - Orient Black Swan</li>
                <li>Indian Geography by D. R. Khullar</li>
            </ol>
        <h4>Social Issues</h4>
            <ol>
                <li>XI Standard NCERT on Indian Society (Chapters on Unity & Diversity and Population Issues)</li>
                <li>XII Standard NCERT (Chapters on Communalism, Secularism and Urban Issues such as Poverty, Housing, etc.)</li>
                <li>The Hindu or Indian Express Newspaper</li>
            </ol>
        <h4>Indian Polity</h4>
            <ol>
                <li>Constitution of India at Work (Class XI) NCERT Publication</li>
                <li>Indian Polity by Laxmikant</li>
                <li>The Hindu or Indian Express Newspaper</li>
                <li>Yojana Magazine</li>
            </ol>
        <h4>Governance Issues</h4>
            <ol>
                <li>From Government to Governance by Kuldeep Mathur</li>
                <li>Ethics in Governance, ARC Report</li>
                <li>Citizen Centric Administration (Chapters 2, 5, 6, 7 & 8 only and box items in the report)</li>
            </ol>
        <h4>Developmental Issues</h4>
            <ol>
                <li>Human Development Report & World Development Report</li>
                <li>Panchayati Raj in India by Kuldeep Mathur</li>
                <li>The Hindu or Indian Express Newspaper</li>
                <li>Kurukshetra & Yojana Magazines</li>
            </ol>
        <h4>International Relations</h4>
            <ol>
                <li>India’s Foreign Policy Since Independence by V.P. Dutt</li>
                <li>The Hindu or Indian Express Newspaper</li>
            </ol>
        <h4>Indian Economy</h4>
            <ol>
                <li>Indian Economic Development XI Standard NCERT</li>
                <li>Indian Economy by Sanjiv Verma</li>
                <li>Introductory Macro Economics XII Standard NCERT (Ignore all diagrams & mathematical formulas)</li>
                <li>The Hindu or Indian Express Newspaper</li>
                <li>Economics Dictionary published by Collins & Penguin</li>
                <li>Economic Survey 2017 - 18 & 2018 - 19 (to be out in Feb 2019, only recommended chapters)</li>
            </ol>
        <h4>Ecology & Environment</h4>
            <ol>
                <li>Certificate Physical & Human Geography by Goh Cheng Leong (Second Half of the Book)</li>
                <li>XII Standard NCERT Book on Biology (Chapters pertaining to Ecology)</li>
                <li>India Year Book (Chapters on Environment)</li>
                <li>Chapter on Climate Change from Economic Survey</li>
                <li>The Hindu or Indian Express Newspaper</li>
            </ol>
        <h4>Security Issues</h4>
            <ol>
                <li>India’s Security in a Turbulent World by Jasjit Singh, published by National Book Trust of India</li>
                <li>The Hindu or Indian Express Newspaper</li>
            </ol>
        <h4>Science & Technology</h4>
            <ol>
                <li>VIII, IX, X Standard NCERT books on Biology</li>
                <li>The Hindu or Indian Express Newspaper</li>
                <li>Monthly Magazine ‘Science Reporter for Science & Technology’</li>
            </ol>
        <h4>Ethics, Integrity & Aptitude</h4>
            <ol>
                <li>Ethics in Governance, ARC Report</li>
                <li>Lexicon by Chronicle Publications</li>
                <li>The Book on Ethics, Integrity & Aptitude published by Access Publication</li>
            </ol>
        <h4>Some of the Resources available Online</h4>
            <ol>
                <li><a href="https://www.upsc.gov.in/">UPSC</a></li>
                <li><a href="https://unacademy.com/goal/upsc-civil-services-examination-ias-preparation/KSCGY"> Unacademy UPSC-CSE</a></li>
                <li><a href="https://www.drishtiias.com/">Drishti IAS</a></li>
                <li><a href="http://www.visionias.in/">Vision IAS</a></li>
                <li><a href="https://www.vajiramandravi.com/">Vajiram & Ravi</a></li>
                <li><a href="https://byjus.com/ias/">BYJU'S</a></li>
                <li><a href="https://www.civilserviceindia.com/">Civil Service India</a></li>
                <li><a href="https://www.youtube.com/channel/UCMGrQ4dW5CT5bs44tRa94Bw">wifistudy 2.0</a></li>
                <li><a href="https://www.youtube.com/channel/UCiY0rSCiZakRAPkhsEElhBw">GradeUp</a><p></li>
            </ol>
    </div>
    <div>
        <h2 id="preparationtips">Preparation Tips</h2>
        <h4>1. Prepare Yourself</h4>
            <p>Before starting your preparation, prepare mentally and physically for the examination. Set goals and devote time 
            effectively.</p>
        <h4>2. Make a Time Table</h4>
            <p>Making a timetable will ease your preparation and make it more streamlined. With deadlines, 
            you would work better and complete the syllabus faster.</p>
        <h4>3. Know the UPSC Syllabus</h4>
            <p>The syllabus is the soul of any exam. Knowing the syllabus is the foremost thing to do before you go through the books.</p>
        <h4>4. Newspaper Reading/Current Affairs for IAS</h4>
            <p>The questions asked in the civil services exam are directly or indirectly connected with current affairs. 
            Hence, it is very important to follow the relevant news items in your daily newspaper.</p>
        <h4>5. Choosing Optional</h4>
            <p>The optional subject accounts for 500 marks in the UPSC final tally.The optional subject accounts for 500 marks in 
                the UPSC final tally. <br>
                Some of the factors to keep in mind before selecting an optional are: <br>
                <ol>
                    <li>Interest in the subject</li>
                    <li>Prior knowledge in it/academic background</li>
                    <li>Overlap with the GS papers</li>
                    <li>Availability of coaching</li>
                    <li>Availability of study material</li>
                </ol>
            </p>
        <h4>6. NCERTs</h4>
            <p>The NCERT textbooks from classes six to twelve play a very significant role in IAS exam preparation.
                These books provide the information very coherently. 
                NCERTs are undoubtedly the best books to begin your IAS preparation with.</p>
        <h4>7. Making Notes</h4>
            <p>Since the UPSC syllabus is very vast, making notes helps to keep track of the portions covered and also serves as a 
                ready-reckoner for revision.</p>
        <h4>8. Answer Writing Practice</h4>
            <p>The IAS main exam papers are descriptive in nature. It demands you to think with conceptual clarity and organize your 
                views, perceptions, and thoughts in a flawless manner. Another thing to be kept in mind is the time and space constraint 
                in the answer booklet. Therefore, candidates have to answer the questions quickly and effectively and in minimum words. 
                This is not possible without adequate answer writing practice.</p>
        <h4>9. Solving Previous Years’ UPSC Question Papers</h4>
            <p>Previous question papers are the most reliable sources of UPSC pattern, difficulty level and question type.
                You can judge the trends in the UPSC exam paper easily.
                It will also help you understand which areas are the most important in a particular subject.
                Lastly, it is a good source of self-assessment in your IAS preparation.</p>
        <h4>10. Mock Test Series</h4>
            <p>Self-assessment is an essential part of UPSC preparation. It is highly recommended to join mock test series, 
                especially if you are preparing from home. This will help you to assess yourself and help you further.</p>
        <h4>11. Revision</h4>
            <p>Revision is very important when you are facing an exam as tough as the UPSC exam. 
                Since the UPSC syllabus is vast and diverse, covering multifarious subjects, it is natural to forget things 
                that you had studied earlier. To avoid this, timely revision is a must.</p>
        <h4>12. UPSC Interview</h4>
            <p>This is an important stage in the process and here, it is something more than academics that will help you.
                You will be assessed on qualities such as diplomatic skills, communication skills, presence of mind, reaction to 
                stress, etc.</p>
    </div>
    <div id="last"><a href= #top>Back to Top</a></div>
</body>
</html>