<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="STYupsc.css" />
    <title>UPSC</title>
{% load static %}
  <style>
body {
  background-image: url("{% static "job/back4.png" %}");

}
</style>
</head>
<body>
<font color="red" size="4">
    <div>
        <h1>UPSC CSE </h1>
    </div>
    <div>
        <h1>About UPSC</h1>
        <p class="About"> 
            The Union Public Service Commission (ISO: Saṅgh Lōk Sēvā Āyōg), commonly abbreviated as UPSC,
            is India's premier central recruiting agency for central government public servants. It is responsible 
            for appointments to and examinations for Group A & Group B posts under civil services cadre and defence 
            services cadre of central government. While Department of Personnel and Training is the central personnel 
            agency in India.
            The Civil Services Examination (CSE) is a nationwide competitive examination in India conducted by the Union
            Public Service Commission for recruitment to higher Civil Services of the Government of India, including the 
            Indian Administrative Service, Indian Foreign Service, and Indian Police Service.
        </p>
    </div>
    <div>
        <h1>Exams Under UPSC</h1>
        <h1>Civil Service Examinations</h1>
        <ol>
            <li>	Civil Services Examination (CSE)
            <li>	Engineering Services Examination (ESE)
            <li>	Indian Forestry Services Examination (IFoS)
            <li>	Central Armed Police Forces Examination (CAPF)
            <li>	Indian Economic Service and Indian Statistical Service (IES/ISS)
            <li>	Combined Geo-Scientist and Geologist Examination
            <li>	Combined Medical Services (CMS)
            <li>	Special Class Railway Apprentices Exam (SCRA)
            <li>	Limited Departmental Competitive Examination for selection of Assistant Commandant. (Executive) in CISF
        </ol>
        <h1>Defence Service Examinations</h1>
        <ol>
            <li>	National Defence Academy & Naval Academy Examination – NDA & NA (I)
            <li>	National Defence Academy & Naval Academy Examination – NDA & NA (II)
            <li>	Combined Defense Services Exam – CDS (I)
            <li>	Combined Defense Services Exam – CDS (II)
        </ol>
    </div>
    <div>
        <h1>Eligibility</h1>
        <h1>Nationality:</h1>
        <p>
            For the Indian Administrative Service, the Indian Police Service and Indian Foreign Service:
          The candidate must be a citizen of India.
           For other services, the candidate must be one of the following:

                <ul>
                    <li> A citizen of India.</li>
                    <li> A citizen of Nepal or a subject of Bhutan</li>
                    <li> A Tibetan refugee who settled permanently in India before 1 January 1962.</li>
                    <li> A person of Indian origin who has migrated from Pakistan, Myanmar, Sri Lanka, Kenya, Uganda, Tanzania, 
                    Zambia, Malawi, Zaire, Ethiopia or Vietnam with the intention of permanently settling in India</li>
                </ul>

        </p>
        <h1>Educational Qualifications:</h1>
        <p>All candidates must have as a minimum one of the following educational qualifications:
            <ul>
                <li>A degree from a Central, State or a Deemed university.</li>
                <li>A degree received through correspondence or distance education</li>
                <li>A degree from an open university</li>
                <li>A qualification recognized by the Government of India as being equivalent to one of the above</li>
            <p>The following candidates are also eligible, but must submit proof of their eligibility from a competent authority 
                at their institute/university at the time of the main examination, failing which they will not be allowed to attend 
                the exam.</p>
                <li>Candidates who have appeared in an examination the passing of which would render them educationally qualified 
                    enough to satisfy one of the above points.</li>
                <li>Candidates who have passed the final exam of the MBBS degree but have not yet completed an internship.</li>
                <li>Candidates who have passed the final exam of ICAI, ICSI and ICWAI.</li>
                <li>A degree from a private university.</li>
                <li>A degree from any foreign university recognized by the Association of Indian Universities.</li>
            </ul>
            </p>
        <h1>Some more important Eligibility criterion:</h1>
            <table>
                <th>Eligibility for UPSC</th>
                    <tr>
                        <td>Age Limit</td>
                        <td class="tinfo">21 to 32 Years (Open Category)*</td>
                    </tr>
                    <tr>
                        <td>Number of Attempts</td>
                        <td class="tinfo">6 (Open Category)*</td>
                    </tr>
            </table>
            <table>
                <th>Category wise Limitations</th>
                <th>
                    <tr>
                        <td class="tshead">Category</td>
                        <td class="tshead">Upper Age Limit for UPSC</td>
                        <td class="tshead">Maximum Number of Attempts</td>
                    </tr>
                </th>
                <tr>
                    <td>General</td>
                    <td class="tinfo">32</td>
                    <td class="tinfo">6</td>
                </tr>
                <tr>
                    <td>Economically Weaker Section (EWS)</td>
                    <td class="tinfo">32</td>
                    <td class="tinfo">6</td>
                </tr>
                <tr>
                    <td>OBC</td>
                    <td class="tinfo">35</td>
                    <td class="tinfo">9</td>
                </tr>
                <tr>
                    <td>SC/ST</td>
                    <td class="tinfo">37</td>
                    <td class="tinfo">Unlimited (Up to age limit)</td>
                </tr>
                <tr>
                    <td>Defence Services Personnel</td>
                    <td class="tinfo">35</td>
                    <td class="tinfo">9</td>
                </tr>
                <tr>
                    <td>Persons with Benchmark Disability</td>
                    <td class="tinfo">35</td>
                    <td class="tinfo">9</td>
                </tr>
            </table>
    </div>
    <div>
        <h1>Exam Pattern</h1>
        <p>The pattern of UPSC examination is officially divided into two stages called Preliminary and Main Examination while in 
            practice, it is a three-stage exam.
        <p>As per the IAS exam pattern, candidates who clear the Prelims are eligible for Mains and candidates who clear 
            the Main reach the interview stage.</p>
        <p>The three stages of the IAS exam are Prelims, Mains and Personality Test.</p>
        </p>
        <h1>Preliminary Examination</h1>
        <p> The preliminary examination intends to focus on analytical abilities and understanding rather than the ability to memorize. 
            The latest pattern includes two papers of two hours duration and 200 marks each. 
            Both papers have multiple choice objective type questions only. <br>
            Paper I tests the candidate's knowledge on current events, history of India and Indian national movement, Indian and 
            world geography, Indian polity panchayti Raj system and governance, economic and social development, environmental ecology, 
            biodiversity, climate change and general science, Art and culture. <br>
            Paper II (also called CSAT or Civil Services Aptitude Test), tests the candidate's skills in comprehension, interpersonal 
            skills, communication, logical reasoning, analytical ability, decision making, problem solving, basic numeracy, data 
            interpretation, English language comprehension skills and mental ability.It is qualifying in nature and the marks obtained 
            in this paper are not counted for merit. However, it is mandatory for the candidate to score a minimum of 33 per cent 
            in this paper to qualify the Prelims exam. <br>
        </p>
        <h1>Mains Examination</h1>
        <p>The Civil Services Main written examination consists of nine papers, two qualifying and seven ranking in nature. The range 
            of questions may vary from just one mark to sixty marks, twenty words to 600 words answers. Each paper is of a duration of 
            3 hours. Candidates who pass qualifying papers are ranked according to marks and a selected number of candidates are called 
            for interview or a personality test at the Commission's discretion.
        </p>
        <h1>Personality Test: Interview</h1>
        <p>The objective of the Personality Test (Interview) is to assess the personal suitability of the candidate for a career in 
            public service by a board of competent and unbiased observers. The test is intended to evaluate the mental calibre of a 
            candidate. <br>
            In broad terms, this is really an assessment of not only a candidate's intellectual qualities, but also social traits and 
            interest in current affairs. Some of the qualities to be judged are mental alertness, critical powers of assimilation, 
            clear and logical exposition, balance of judgement, variety and depth of interest, ability for social cohesion and 
            leadership, and intellectual and moral integrity. <br>
            The technique of the interview is not that of a strict cross-examination, but of a natural, though directed and purposeful 
            conversation that is intended to reveal the mental qualities of the candidate. <br>
            The interview is not intended to test either of the specialized or general knowledge of the candidate, which has been 
            already tested through written papers. Candidates are expected to have taken an intelligent interest not only in their 
            special subjects of academic study, but also in the events which are happening around them both within and outside their 
            own state or country as well as in modern currents of thought and in new discoveries which should rouse the curiosity of 
            all well-educated youth. The interview standards are very high and require thorough preparation as well as commitment.
        </p>
        <h1>UPSC Exam Papers</h1>
        <table>
            <th>Preliminary</th>
            <tr>
                <td class="tshead">Paper</td>
                <td class="tshead">Subject</td>
                <td class="tshead">Total Marks</td>
            </tr>
            <tr>
                <td>Paper A</td>
                <td>One of the Indian Language to be selected by the candidate 
                    from the Languages included in the Eighth 
                    Schedule to the Constitution</td>
                <td>300 Marks</td>
            </tr>
            <tr>
                <td>Paper B</td>
                <td>English</td>
                <td>300 Marks</td>
            </tr>
        </table>
        <table>
            <th>Papers to be counted for Merit (Ranking)</th>
            <tr>
                <td>Paper-I</td>
                <td>Essay</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-II</td>
                <td>General Studies I (Indian heritage and culture, history and geography of the world and society)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-III</td>
                <td>General Studies II (Governance, constitution, polity, social justice and international relations)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-IV</td>
                <td>General Studies III (Technology, economic development, bio-diversity, environment, security and disaster 
                management)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-V</td>
                <td>General Studies IV (ethics, integrity and aptitude)</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-VI</td>
                <td>Optional Subject-Paper 1</td>
                <td>250 Marks</td>
            </tr>
            <tr>
                <td>Paper-VII</td>
                <td>Optional Subject-Paper 2</td>
                <td>250 Marks</td>
            </tr>
        </table>
        <table>
            <th>Personality Test</th>
            <tr>
                <td>Interview</td>
                <td>275 Marks</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Grand Total</td>
                <td>1750 Marks</td>
            </tr>
        </table>
    </div>
    <div>
        <h1>Detailed Syllabus</h1>
        <h1>Preliminary Examination Syllabus</h1>
        <h1>Paper A</h1>
        <ul>
            <li>Current events of national and international importance.</li>
            <li>History of India and Indian National Movement.</li>
            <li>Indian and World Geography-Physical, Social, Economic Geography of India and the World.</li>
            <li>Indian Polity and Governance – Constitution, Political System, Panchayati Raj, Public Policy, Rights Issues, etc.</li>
            <li>Economic and Social Development – Sustainable Development, Poverty, Inclusion, Demographics, Social Sector initiatives, etc.</li>
            <li>General issues on Environmental Ecology, Biodiversity, and Climate Change – that do not require subject specialisation.</li>
            <li>General Science</li>
        </ul>
        <h1>Paper B</h1>
        <ul>
            <li>Comprehension</li>
            <li>Interpersonal skills including communication skills</li>
            <li>Logical reasoning and analytical ability</li>
            <li>Decision-making and problem solving</li>
            <li>General mental ability</li>
            <li>Basic numeracy (numbers and their relations, orders of magnitude, etc.) (Class X level)</li>
            <li>Data interpretation (charts, graphs, tables, data sufficiency, etc. – Class X level)</li>
        </ul>
        <h1>Mains Examination Syllabus</h1>
        <h1>Paper I: Essay</h1>
        <p>Candidates may be required to write essays on multiple topics. They will be expected to keep closely to the subject of 
        the essay to arrange their ideas in orderly fashion, and to write concisely. Credit will be given for effective and 
        exact expression.</p>
        <h1>Paper II: General Studies-I</h1>
        <p>Indian Heritage and Culture, History and Geography of the World and Society</p>
        <ol>
            <li>Indian culture will cover the salient aspects of Art Forms, literature and Architecture from ancient to modern times.</li>
            <li>Modern Indian history from about the middle of the eighteenth century until the present- significant events, 
                personalities, issues.</li>
            <li>The Freedom Struggle — its various stages and important contributors/contributions from different parts of the country.</li>
            <li>Post-independence consolidation and reorganization within the country.</li>
            <li>History of the world will include events from 18th century such as industrial revolution, world wars, redrawal of 
                national boundaries, colonization, decolonization, political philosophies like communism, capitalism, socialism etc.
                — their forms and effect on the society.</li>
            <li>Salient features of Indian Society, Diversity of India.</li>
            <li>Role of women and women’s organization, population and associated issues, poverty and developmental issues, urbanization, 
                their problems and their remedies.</li>
            <li>Effects of globalization on Indian society.</li>
            <li>Social empowerment, communalism, regionalism & secularism.</li>
            <li> Salient features of world’s physical geography.</li>
            <li>Distribution of key natural resources across the world (including South Asia and the Indian sub-continent); 
                factors responsible for the location of primary, secondary, and tertiary sector industries in various parts of 
                the world (including India).</li>
            <li>Important Geophysical phenomena such as earthquakes, Tsunami, Volcanic activity, cyclone etc., geographical features 
                and their location-changes in critical geographical features (including water-bodies and ice-caps) and in flora and 
                fauna and the effects of such changes.</li>
        </ol> 
        <h1>Paper III: General Studies-II</h1>
        <p>Governance, Constitution, Polity, Social Justice and International relations</p>
        <ol>
            <li>Indian Constitution—historical underpinnings, evolution, features, amendments, significant provisions and basic 
                structure.</li>
            <li>Functions and responsibilities of the Union and the States, issues and challenges pertaining to the federal structure, 
                devolution of powers and finances up to local levels and challenges therein.</li>
            <li>Separation of powers between various organs dispute redressal mechanisms and institutions.</li>
            <li>Comparison of the Indian constitutional scheme with that of other countries.</li>
            <li>Parliament and State legislatures—structure, functioning, conduct of business, powers & privileges and issues arising out of these.</li>
            <li>Structure, organization and functioning of the Executive and the Judiciary—Ministries and Departments of the Government; 
                pressure groups and formal/informal associations and their role in the Polity.</li>
            <li>Salient features of the Representation of People’s Act.</li>
            <li>Appointment to various Constitutional posts, powers, functions and responsibilities of various Constitutional Bodies.</li>
            <li>Statutory, regulatory and various quasi-judicial bodies.</li>
            <li>Government policies and interventions for development in various sectors and issues arising out of their design and implementation.</li>
            <li>Development processes and the development industry —the role of NGOs, SHGs, various groups and associations, donors, 
                charities, institutional and other stakeholders.</li>
            <li>Welfare schemes for vulnerable sections of the population by the Centre and States and the performance of these schemes; 
                mechanisms, laws, institutions and Bodies constituted for the protection and betterment of these vulnerable sections.</li>
            <li>Issues relating to development and management of Social Sector/Services relating to Health, Education, Human Resources.</li>
            <li>Issues relating to poverty and hunger.</li>
            <li>Important aspects of governance, transparency and accountability, e-governance- applications, models, successes, 
                limitations, and potential; citizens charters, transparency & accountability and institutional and other measures.</li>
            <li>Role of civil services in a democracy.</li>
            <li>India and its neighborhood- relations.</li>
            <li>Bilateral, regional and global groupings and agreements involving India and/or affecting India’s interests.</li>
            <li>Effect of policies and politics of developed and developing countries on India’s interests, Indian diaspora.</li>
            <li>Important International institutions, agencies and fora - their structure, mandate.</li>
        </ol>
        <h1>Paper IV: General Studies-III</h1>
        <p>Technology, Economic Development, Bio diversity, Environment, Security and Disaster Management</p>   
        <ol>
            <li>Indian Economy and issues relating to planning, mobilization, of resources, growth, development and employment.</li>
            <li>Inclusive growth and issues arising from it.</li>
            <li>Government Budgeting.</li>
            <li>Major crops-cropping patterns in various parts of the country, - different types of irrigation and irrigation systems 
                storage, transport and marketing of agricultural produce and issues and related constraints; e-technology in the aid 
                of farmers.</li>
            <li>Issues related to direct and indirect farm subsidies and minimum support prices; Public Distribution System-objectives, 
                functioning, limitations, revamping; issues of buffer stocks and food security; Technology missions; economics of 
                animal-rearing.</li>
            <li>Food processing and related industries in India- scope’ and significance, location, upstream and downstream requirements, 
                supply chain management.</li>
            <li>Land reforms in India.</li>
            <li>Effects of liberalization on the economy, changes in industrial policy and their effects on industrial growth.</li>
            <li>Infrastructure: Energy, Ports, Roads, Airports, Railways etc.</li>
            <li>Investment models.</li>
            <li>Science and Technology- developments and their applications and effects in everyday life.</li>
            <li>Achievements of Indians in science & technology; indigenization of technology and developing new technology.</li>
            <li>Awareness in the fields of IT, Space, Computers, robotics, Nano-technology, bio-technology and issues relating to 
                intellectual property rights.</li>
            <li>Conservation, environmental pollution and degradation, environmental impact assessment.</li>
            <li>Disaster and disaster management.</li>
            <li>Linkages between development and spread of extremism.</li>
            <li>Role of external state and non-state actors in creating challenges to internal security.</li>
            <li>Challenges to internal security through communication networks, role of media and social networking sites in internal 
                security challenges, basics of cyber security; money-laundering and its prevention.</li>
            <li>Security challenges and their management in border areas - linkages of organized crime with terrorism.</li>
            <li>Various Security forces and agencies and their mandate.</li>
        </ol>
        <h1>Paper V: General Studies-IV</h1>
        <p>Ethics, Integrity and Aptitude</p>
        <ol>
            <li>Ethics and Human Interface: Essence, determinants and consequences of Ethics in-human actions; dimensions of ethics; 
                ethics - in private and public relationships. Human Values - lessons from the lives and teachings of great leaders, 
                reformers and administrators; role of family society and educational institutions in inculcating values.</li>
            <li>Attitude: content, structure, function; its influence and relation with thought and behaviour; moral and political 
                attitudes; social influence and persuasion.</li>
            <li>Aptitude and foundational values for Civil Service, integrity, impartiality and non-partisanship, objectivity, 
                dedication to public service, empathy, tolerance and compassion towards the weaker-sections.</li>
            <li>Emotional intelligence-concepts, and their utilities and application in administration and governance.</li>
            <li>Contributions of moral thinkers and philosophers from India and world.</li>
            <li>Public/Civil service values and Ethics in Public administration: Status and problems; ethical concerns and dilemmas in 
                government and private institutions; laws, rules, regulations and conscience as sources of ethical guidance; 
                accountability and ethical governance; strengthening of ethical and moral values in governance; ethical issues in 
                international relations and funding; corporate governance.</li>
            <li>Probity in Governance: Concept of public service; Philosophical basis of governance and probity; Information sharing 
                and transparency in government, Right to Information, Codes of Ethics, Codes of Conduct, Citizen’s Charters, Work 
                culture, Quality of service delivery, Utilization of public funds, challenges of corruption.</li>
            <li>Case Studies on above issues.</li>
        </ol>
        <h1>Paper VI and VII</h1>
        <h1>Optional Subjects</h1>
        <table class="Optional Subjects">
            <tr>
                <td>Agricultural</td>
                <td>Animal Husbandry & Veterinary Science</td>
                <td>Anthropology</td>
            </tr>
            <tr>
                <td>Botany</td>
                <td>Chemistry</td>
                <td>Civil Engineering</td>
            </tr>
            <tr>
                <td>Commerce & Accountancy</td>
                <td>Economics</td>
                <td>Electrical Engineering</td>
            </tr>
            <tr>
                <td>Geography</td>
                <td>Geology</td>
                <td>History</td>
            </tr>
            <tr>
                <td>Law</td>
                <td>Management</td>
                <td>Mathematics</td>
            </tr>
            <tr>
                <td>Mechanical Engineering</td>
                <td>Medical Science</td>
                <td>Philosophy</td>
            </tr>
            <tr>
                <td>Physics</td>
                <td>Political Science & International Relations</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>Public Administration</td>
                <td>Sociology</td>
                <td>Statistics</td>
            </tr>
            <tr>
                <td>Zoology</td>
                <td>Assamese (Literature)</td>
                <td>Bengali (Literature)</td>
            </tr>
            <tr>
                <td>Bodo (Literature)</td>
                <td>Dogri (Literature)</td>
                <td>Gujarati (Literature)</td>
            </tr>
            <tr>
                <td>Hindi (Literature)</td>
                <td>Kannada (Literature)</td>
                <td>Kashmiri (Literature)</td>
            </tr>
            <tr>
                <td>Konkani (Literature)</td>
                <td>Maithili (Literature)</td>
                <td>Malayalam (Literature)</td>
            </tr>
            <tr>
                <td>Manipuri (Literature)</td>
                <td>Marathi (Literature)</td>
                <td>Nepali (Literature)</td>
            </tr>
            <tr>
                <td>Odia (Literature)</td>
                <td>Punjabi (Literature)</td>
                <td>Sanskrit (Literature)</td>
            </tr>
            <tr>
                <td>Santhali (Literature)</td>
                <td>Sindhi (Literature)</td>
                <td>Tamil (Literature)</td>
            </tr>
            <tr>
                <td>Telugu (Literature)</td>
                <td>English (Literature)</td>
                <td>Urdu (Literature)</td>
            </tr>
        </table>
    </div>
    <div>
        <h1>Books and Resources</h1>
        <h1>Subjectwise Books</h1>
        <h1>General Studies Booklist</h1>
        <h1>History</h1>
        <h1>Basic Books</h1>
        <ol>
            <li>NIOS course books for classes XI and XII on</li>
            <ol>
                <li>Ancient India</li>
                <li>Medieval India</li>
                <li>Modern India</li>
                <li>National Movement & Contemporary World</li>
                <li>Culture of India</li>
            </ol>
        </ol>
        <h2>Advanced Level Books</h2>
            <ol>
                <li>Indian History</li>
                <ol>
                    <li>India’s Ancient Past by R.S. Sharma published by Oxford University Press</li>
                    <li>A History of Ancient & Early Medieval India by Upinder Singh</li>
                    <li>History of Medieval India (800–1700 AD) by Satish Chandra published by Orient Longman</li>
                    <li>History of Modern India by Bipin Chandra (2009 Edition)</li>
                    <li>India's Struggle for Independence by Bipin Chandra & Others</li>
                    <li>India After Independence (1947 - 2000) by Bipin Chandra & Others </li>
                    <li>From Plassey To Partition And After by Sekhar Bandopadhyaya</li>
                </ol>
            </ol>
            <ol>
                <li>World History</li>
                <ol>
                    <li>The Story of Civilization, Part 2 by Arjun Dev, NCERT</li>
                    <li>Contemporary World History for class XII (Old NCERT Book)</li>
                    <li>Mastering Modern World History by Norman Lowe</li>
                </ol>
            </ol>
            
    </div>
</body>
</font>
</html>